@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
.topnav{
    overflow: hidden;
    background-color: #ffff;

}

.topnav a{
    float: left;
    color:#323b38;
    font-size:17px;
    text-align: center;
    text-decoration: none;
    padding:14px 30px;
    font-family: 'Ubuntu';
}

.topnav a:hover{
    background-color: grey;
    color: #fff;
}

.topnav a.active{
    background-color: #04aa6d;
    color: white;
}
p{
    font-family: 'Josefin Sans';  
}