{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'tasklist/style.css' %}">
</head>
<body>
    <div class="topnav">
        <a href="/tasklist/index.html">Startsidan</a>
    </div> 
    <p>Anteckningar</p>
    {% block form %}
    <form action="{% url 'add' %}" method="POST"> 
    {% csrf_token %}
    {{form}}
    <input type="submit" value="add">
    </form>
    {% endblock %}
    </style>
    <ul>
        {% for task in tasklist %}
        <li>{{task}}</li>
        {% endfor %}
    </ul>
</body>
</html>