{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'hello/style.css' %}">
    <title>Home Page</title>
</head>
<body>
    <h1>This is my homepage</h1>
    <p>Hej den här texten borde vara röd</p>
    <ul>
    <div class="topnav">
        <a href="/hello/">Home</a>
        <a href="/hello/news.html">News</a>
        <a href="/hello/contact.html">Contact</a>
        <a href="/hello/about.html">About</a>
    </div> 
    </ul>
    {% block content %}
        </ul>
    <h1>Hello {{ name }}</h1>
    {% endblock %}
</body>
</html>